@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Red Hat Display;
  src: url('../src/components/assets/RedHatDisplay-Black.ttf');
  src: url('../src/components/assets/RedHatDisplay-Bold.ttf');

  src: url('../src/components/assets/RedHatDisplay-Light.ttf');

  src: url('../src/components/assets/RedHatDisplay-Regular.ttf');
  src: url('../src/components/assets/RedHatDisplay-Regular.ttf');
  src: url('../src/components/assets/RedHatDisplay-Regular.ttf');
  src: url('../src/components/assets/RedHatDisplay-Light.ttf');
  src: url('../src/components/assets/RedHatDisplay-Light.ttf');
  /* src: url('../src/components/assets/RedHatDisplay-ExtraBold.ttf'); */
}
/* @font-face {
  font-family: Red Hat Display;
  src: url('../src/components/assets/RedHatDisplay-Light.ttf');
  
} */


html,
body {
  padding: 0;
  margin: 0;
  font-family: Red Hat Display Helvetica Neue, sans-serif;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.footer {
  background-image: url(/images/FooterImage.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.hero {
  background-image: url(/images/Hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}


.Hero {
  background-image: url(/images/herocontact.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

h1,
h2,
h3 {

  font-family: Red Hat Display;
  font-weight: 900;
  src: url('../src/components/assets/RedHatDisplay-Bold.ttf');
}

span {
  font-family: Red Hat Display;
  font-weight: 400;
  src: url('../src/components/assets/RedHatDisplay-Medium.ttf');
}

p,
li {
  font-family: Red hat Display;
  font-weight: 200;
  src: url('../src/components/assets/RedHatDisplay-Medium.ttf');
}
.heading{
  font-family: Red Hat Display;
  src: url('../src/components/assets/RedHatDisplay-Bold.ttf');


}